<mat-toolbar class="toolbar" fxFill>
  <div class="contenerMenu" fxLayout="row" fxLayoutAlign="space-between" fxFill>

    <!--------------------   FLEX REGION COLUMN | LOGO   ------------------------>

    <div fxLayout="column" fxLayoutAlign="left stretch" >
      <div fxLayout="row" fxFill class="contenerBtn" fxFill class="contenerLeftSide">
        <img class="appLogo"  src="assets/icons/parchment.png"/>
<!--        <button fxFlex class="button" mat-button >-->
<!--          <i class="material-icons">-->
<!--            home-->
<!--          </i>-->
<!--        </button>-->
      </div>
    </div>

    <!--------------------   FLEX REGION COLUMN | APP TITLE   ------------------------>

    <div class="contenerAppTitle" fxLayout="column" fxLayoutAlign="center stretch">
        {{title}}
    </div>

    <!--------------------   FLEX REGION COLUMN | TOOLBAR BUTTONS   ------------------------>
    <div fxLayout="column" fxLayoutAlign="center stretch" class="contenerCenterBtn">

      <!--------------------   FLEX REGION ROW | TOOLBAR BUTTONS   ------------------------>
      <div fxLayout="row" fxFill class="contenerBtn">

        <!--------------------   FLEX REGION | BUTTON REDUCE   ------------------------>
        <button fxFlex mat-button class="button hoverBtnWhite" (click)="reduceApp()">
          <i fxFlex class="material-icons">minimize</i>
        </button>

        <!--------------------   FLEX REGION | BUTTON CLOSE   ------------------------>
        <button fxFlex mat-button class="button hoverBtnRed" (click)="closeApp()">
          <i class="material-icons">close</i>
        </button>

      </div>

    </div>

  </div>
</mat-toolbar>
